body {
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

.logo {
  width: 90px;
  height: 80px;
  justify-items: left;
  color: #1d71f2;
}

.weather-app {
  background-color: #1d71f2;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #cacacaa4;
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #aca9a927;
  padding: 0 0 30px 0;
}

.input-bar {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
}

.button {
  background: #ffcd00;
  color: #000000;
  border-radius: 8%;
  padding: 15px 30px;
  margin-left: 5px;
  font-size: 16px;
  border: none;
  font-weight: bolder;
}

.button:hover {
  background: #19c3fb;
  color: #ffffff;
}

.hero-area {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  font-weight: 500;
}

.main-temp {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 88px;
  height: 88px;
  font-size: 60px;
}

.main-temp-value {
  font-size: 88px;
  line-height: 88px;
}

.details-bolded {
  color: #ffcd00;
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 10px;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 15px;
}

.weather-forecast-icon {
  justify-content: space-evenly;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #1c9cf6;
}

.footer-links {
  color: #1d71f2;
  font-weight: bold;
  outline: #353535;
  text-decoration: none;
}

.footer-links:hover {
  color: #19c3fb;
}
